body {
    background-size: cover;
    background: linear-gradient(135deg, rgb(103, 59, 60), rgb(24, 30, 65)) no-repeat fixed;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1.5em;
}

.container {
}

header {
    width: 100%;
    height: 100vh;
}

.navbar {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.main_icon {
    height: 40px;
    width: 40px;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.nav-item {
    margin-left: 12px;
}

.nav-item a {
    text-decoration: none;
    padding: 10px;
    color: white;
}

.nav-item a:hover {
    text-decoration: none;
    background-color: rgba(241, 162, 162, 0.23);
}

.btn-hire {
    padding: 10px 20px;
    border-radius: 0;
    border-width: 1px;
    border-style: solid;
    border-color: white;
}

.btn-hire:hover {
    background-color: white;
    color: black;
}

.myName {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Helvetica Neue', sans-serif;
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: 2px;
    /*transform: rotate(90deg);*/
}

.main {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-family: Arial, sans-serif;
    font-size: 32px;
    letter-spacing: 0.3em;
}

.social{
    background-color: black;
    padding: 16px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.social-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-content i {
    margin-left: 16px;
}

.social-link {
    text-decoration: none;
    color: white;
}

.about {
    height: 100vh;
    width: 100%;
}

.about-content-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100vh;
    margin: auto;
}

.profile_image {
    border-radius: 50%;
    width: 35%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.about-content {
    margin-left: 46px;
}

.about_title {
    font-size: 3.3rem;
}

.hr_line {
    width: 70%;
}

.project-numbers {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.services-num-title {
    font-weight: bolder;
    font-size: 1rem;
    margin: 0;
}

.services-num-count {
    font-weight: bolder;
    font-size: 2rem;
    margin: 0;
}

.project-numbers {
    margin-top: 64px;
}

.service-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background-color: #ecf8d7;
    border-radius: 32px;
    margin: 16px;
    color: black;
}

.service-item-light {
    background-color: #ffffff;
}

.services-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-content-right {
    margin-left: 64px;
    width: 35%;
}

.services-content-left {
    width: 50%;
    margin-right: 64px;
}

.services {
    width: 70%;
    margin: 0 auto;
}

.ser-con-lef-text {
    text-align: justify;
}

.service-jobs-title, .service-jobs-count {
    margin-left: 16px;
}

.about_title {
    font-size: 3rem;
    margin-top: 120px;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 64px;
    margin-top: 64px;
}

.contact-content {
    width: 100%;
}

.social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin-left: 16px;
    background-color: rgba(209, 170, 170, 0.32);
    border-radius: 100%;
}

.contact-social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dev-by-who {
    margin-left: 32px;
}

